<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Welcome to Vonage Chat Admin!</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <header>
        <h2>Vonage Prize Wheel Admin</h2>
      </header>
        <section id="loginContainer">
        <form id="login">
          <label for="username">Username: </label>
          <input name="username" id="username" type="text" placeholder="username" aria-labelledby="login" required>
          <label for="password">Password: </label>
          <input name="password" id="password" type="password" placeholder="password" aria-labelledby="login" required>
          <button type="submit" id="submitButton">Login</button>
        </form>
        <div id="errorStatus"></div>
      </section>
      <section id="adminContainer">
        <button id="createChat">
          Create a Conversation
        </button>
        <br/>
        <div id="linkContainer">
          links: <span id="link"></span>
        </div>
      </section>
    </main>

    <script type="module" src="/admin.js" defer></script>
  </body>
</html>
